<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material-design-iconic-font.css') }}">

</head>
<body>
    <div class="d-flex">
        <!-- Vertical Navigation Bar -->
        <nav class="nav flex-column bg-dark-blue p-3" style="min-width: 100px; height: 100vh;">
            <a class="navbar-brand mb-4 text-center">
             <img style="width: 100px; height: 100px" src="{{ url_for('static', filename='images/logo.png') }}" class="card-img-top" alt="Client Image">
            </a>

            <a class="card-nav shadow mb-1 hover-button border-0 bg-off-white text-dark-blue" href="/">
                <div class="card-nav-body">
                    <h5 class="zmdi zmdi-home" style="font-size: 60px"></h5>
                </div>
            </a>
            <a class="card-nav shadow mb-1 hover-button border-0 bg-off-white text-dark-blue" href="/clients">
                <div class="card-nav-body">
                    <h5 class="zmdi zmdi-laptop" style="font-size: 60px"></h5>
                </div>
            </a>

            <a class="card-nav shadow mb-1 hover-button border-0 bg-off-white text-dark-blue mt-auto" href="/settings">
                <div class="card-nav-body">
                    <h5 class="zmdi zmdi-settings" style="font-size: 60px; margin: 0;"></h5>
                </div>
            </a>
        </nav>

        <!-- Main Content -->
        <main class="flex-grow-1 p-4 bg-dark-off-white">
            {% block content %}{% endblock %}
        </main>
    </div>
    <div>

    </div>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
